h1 I love React JS :) 
p Hola #{name}! 
p Para completar el registro en "I Love ReactJS" haz click en el siguiente link:
|
|
- var url = 'user/completeregister/';
a (href='/' + url, style={color: 'red', background: 'green'}) Link para confirmar registro
|
|
p Este email fue generado para el email #{email}, si no eres tu, por favor ignora este email.