html 
    head
       style.
            header{
                background:#572364;
                text-align:center;
                border-style:solid;
                border-width: 1px;
            }
            h1{
                color:white;
                font-size: 3em;
            }
            section{
                padding: 20px;
                border-style:solid;
                border-width: 1px;
            }
            footer{
                background:#444444;
                border-style:solid;
                border-width: 1px;
            }
            h3{
                color:white;
                padding: 20px;
                font-size: 1.2em;
            }
            .boton{
                padding-top:20px;
                text-align:center;
            }
            button{
                padding:25px;
                background-color:#3390FF;
                border-radius:13px;
                color:white;
                font-weight: bold;
            }
            p{
                font-size: 1.2em;
            }
            h2{
                font-size: 1.9em;
            }
    

    body
        header 
            h1 SKELETON
        section
            h2 Recuperacion de Contraseña
            p Hola #{name}! 
            p hemos recibido tu solicitud para recuperar tu contraseña, podras hacerlo desde el siguiente link:
            |
            .boton
                a(href=`${URL}`) 
                    button(type="button") Recuperar Contraseña
            |
            |
            p Este email fue generado para el email #{email}, si no eres tu, por favor ignora este email.
        footer
            h3 Copyright